body {
    line-height: 1.6em;
    padding: 0px 0px 0px 25px;
    background-color:#c2b280;
}

a:link { color: #554a29; }
a:visited { color: #554a29; }
a:hover { color: #a5904f; }

header {
    line-height: 1.2em;
    text-shadow: 2px 2px 2px #cfc29b;
    font-family: 'Lobster Two', cursive;
    font-size: 48px;
    padding: 20px;
    border-bottom: 1px solid #cfc29b;
}

div#content {
    margin-right: 600px;
    font-family: 'Imprima', sans-serif;
}

h3 {
    font-family: 'Lobster Two', cursive;
    text-decoration: underline #cfc29b;
    text-shadow: 2px 2px 2px #cfc29b;
    padding-bottom: 10px;
}

div#botom {
    padding: 20px 20px 20px 5px;
    font-family: 'Imprima', sans-serif;
}
/*
div#side {
    padding: 20px;
    width: 200px;
    border: 1px solid black;
    position:left float;
}*/



/* h1,h4 {
    padding: 15px;
    font-family: 'Metamorphous', cursive;
    font-size; 1.5em;
    border-radius: 5px;
    margin: auto;
}

h3 {
    padding: 15px;
    font-family: 'Happy Monkey', cursive;
    background-color: red;
    border-radius: 20px;
}

/*p {
    margin: auto;
    padding-top: 15px;
    padding-right: 15px;
    background-color: #afce39;
    border-radius: 20px;
    font-family: 'Imprima', sans-serif;
}

#test {
    padding: 15px;
    border-radius: 20px;
    margin: 10px;
    border-width: thin;
    border-style: dotted;
    border-color: #a4c639;
}

.para {
    border-radius: 20px;
    font-family: 'Imprima', cursive;
    background-color: #a4c639;
    padding: 25px;
    margin: 30px;
}



footer {
    padding: 15px;
    font-family: 'Imprima', cursive;
    text-align: bottom;
}
*/
