body {
    text-align: center;
    margin: auto;
    background-color: #28738b;
}

h1 {
    text-align: left;
    padding: 15px;
    font-family: 'Metamorphous', cursive;
    font-size; 1.5em;
    border-radius: 5px;
    margin: auto;
}

h3 {
    padding: 15px;
    font-family: 'Happy Monkey', cursive;
    /*background-color: red;*/
    border-radius: 20px;
}

/*p {
    margin: auto;
    padding-top: 15px;
    padding-right: 15px;
    background-color: #afce39;
    border-radius: 20px;
    font-family: 'Imprima', sans-serif;
}*/

#test {
    padding: 15px;
    border-radius: 20px;
    margin: 10px;
    border-width: thin;
    border-style: dotted;
    border-color: #a4c639;
}

.para {
    border-radius: 20px;
    font-family: 'Imprima', cursive;
    background-color: #a4c639;
    padding: 25px;
    margin: 30px;
}



footer {
    padding: 15px;
    font-family: 'Imprima', cursive;
    text-align: bottom;
}

a:link {
    color: #c6c6c6;
}

a:visited {
    color: #78c1d8;
}

a:hover {
    color: #a3c639;
}
